<div
  class="rounded-lg border bg-card text-card-foreground shadow-lg cursor-pointer hover:translate-y-[-4px] duration-300 ease-in-out"
  data-v0-t="card"
>
  <div class="flex flex-col space-y-1.5 p-6">
    <img
      src="/placeholder.svg"
      width="300"
      height="300"
      style=""
      alt="iPhone 14 Pro"
      class="mx-auto aspect-square overflow-hidden rounded-xl object-cover"
    />
  </div>
  <div class="p-6 space-y-2">
    <h3 class="text-xl font-bold">iPhone 14 Pro</h3>
    <p class="text-gray-700 my-2 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
      quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
      nihil.
    </p>
    <div class="my-2">
      <span
        class="inline-block animation cursor-pointer bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >Apple</span
      >
      <span
        class="inline-block animation cursor-pointer bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >256GB</span
      >
      <span
        class="inline-block animation cursor-pointer bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >48MP</span
      >
    </div>
    <div class="flex items-center my-2 justify-between">
      <span class="text-lg font-bold">$999</span>
      <a
        href="#"
        class="inline-flex hover:shadow-lg h-8 items-center justify-center rounded-md bg-slate-900 text-white px-4 text-sm font-medium text-primary-foreground shadow transition-colors hover:bg-primary/90 focus-visible:outline-none hover:translate-y-[-1px] duration-200 disabled:pointer-events-none disabled:opacity-50"
      >
        Buy Now
      </a>
    </div>
  </div>
</div>

<h1 *ngFor="let item of productData">
  {{ item.name }}
</h1>
