@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
// regular style toast
@import "ngx-toastr/toastr";
.animation {
  &:hover {
    transition: all 0.3s ease-in-out;
    background-color: red;
    color: white;
  }
}
body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace !important;
}

.mdc-form-field > label {
  color: rgb(246, 246, 246);
}

.card {
  border-radius: 8px;
  border-width: 1px;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  &:hover {
    cursor: pointer;
    translate: 0px -15px;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
  }
}
