.bg-cover-fullscreen {
  background-image: url("../../../../../public/hand-drawn_doodle_set_4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
